node-red/.flows.json.backup
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "gateway",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5c888227d3c31d09",
        "type": "tab",
        "label": "actuators",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9b141d136e8f2a6b",
        "type": "tab",
        "label": "predictions",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d41a571824d79944",
        "type": "tab",
        "label": "realTimeData",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3f89dc9d9f939810",
        "type": "mqtt-broker",
        "name": "myBroker",
        "broker": "172.20.0.100",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "cd00130e58b07552",
        "type": "ui_group",
        "name": "container_0",
        "tab": "2589211dbdb579e4",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2589211dbdb579e4",
        "type": "ui_tab",
        "name": "Real Time Data - Solar",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c5a0d7db3dd1615f",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "7ae4df28c6b53877",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "iot",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://172.20.0.103:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "389563e852d78106",
        "type": "ui_group",
        "name": "container_0",
        "tab": "053cac909ccf8498",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "053cac909ccf8498",
        "type": "ui_tab",
        "name": "Predictions",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c75c71a484171217",
        "type": "ui_tab",
        "name": "Actuators",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "abd1a74c2aa8c24b",
        "type": "ui_group",
        "name": "container_0",
        "tab": "c75c71a484171217",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "26332cb7.024dd4",
        "type": "ui_group",
        "name": "Default",
        "tab": "e45fadc8.79108",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e45fadc8.79108",
        "type": "ui_tab",
        "name": "Start",
        "icon": "dashboard"
    },
    {
        "id": "afd0e4f8b5dd7182",
        "type": "ui_group",
        "name": "container_1",
        "tab": "c75c71a484171217",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2e4cd91fbe8123bf",
        "type": "ui_group",
        "name": "container_2",
        "tab": "c75c71a484171217",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1de1620a42f9d003",
        "type": "ui_group",
        "name": "container_3",
        "tab": "c75c71a484171217",
        "order": 4,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "85a7f4cff3441bcf",
        "type": "ui_group",
        "name": "container_4",
        "tab": "c75c71a484171217",
        "order": 5,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "402d722259126c8b",
        "type": "ui_group",
        "name": "container_5",
        "tab": "c75c71a484171217",
        "order": 6,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1a130c9ffe360637",
        "type": "ui_group",
        "name": "container_6",
        "tab": "c75c71a484171217",
        "order": 7,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a36a0e9b6fbc9132",
        "type": "ui_group",
        "name": "container_7",
        "tab": "c75c71a484171217",
        "order": 8,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0712d077dea5c3c5",
        "type": "ui_group",
        "name": "container_1",
        "tab": "2589211dbdb579e4",
        "order": 2,
        "disp": false,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c5999a0205f16d5e",
        "type": "ui_tab",
        "name": "Real Time Data - System",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bfcf8bedfc1576f5",
        "type": "ui_group",
        "name": "container_0",
        "tab": "c5999a0205f16d5e",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1f74b06d4dff1469",
        "type": "ui_group",
        "name": "container_1",
        "tab": "c5999a0205f16d5e",
        "order": 3,
        "disp": false,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "553b34815b4756a9",
        "type": "ui_tab",
        "name": "Real Time Data - Wind",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "eb4aca13b11d0bb0",
        "type": "ui_group",
        "name": "container_0",
        "tab": "553b34815b4756a9",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "58dbf6a3f5c0d52f",
        "type": "ui_group",
        "name": "container_1",
        "tab": "553b34815b4756a9",
        "order": 2,
        "disp": false,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "36af154aa5adc422",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "system/day",
        "qos": "0",
        "datatype": "json",
        "broker": "3f89dc9d9f939810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 60,
        "wires": [
            [
                "1cce0f2e8c2c4263"
            ]
        ]
    },
    {
        "id": "cf195b8666dc8585",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "system/wind",
        "qos": "0",
        "datatype": "json",
        "broker": "3f89dc9d9f939810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "1d8ac2c78b3ab322"
            ]
        ]
    },
    {
        "id": "15f7220ef0b24682",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "system/weather",
        "qos": "0",
        "datatype": "json",
        "broker": "3f89dc9d9f939810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 180,
        "wires": [
            [
                "bc25f5fd78939d32"
            ]
        ]
    },
    {
        "id": "1cce0f2e8c2c4263",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "msg day",
        "func": "msg.payload = {day:msg.payload}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 60,
        "wires": [
            [
                "b7f1f0dbe69c9dcd"
            ]
        ]
    },
    {
        "id": "1d8ac2c78b3ab322",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "msg wind",
        "func": "msg.payload = { wind: msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 120,
        "wires": [
            [
                "b7f1f0dbe69c9dcd"
            ]
        ]
    },
    {
        "id": "bc25f5fd78939d32",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "msg weather",
        "func": "msg.payload = { weather: msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 180,
        "wires": [
            [
                "b7f1f0dbe69c9dcd"
            ]
        ]
    },
    {
        "id": "939530b7a0dc5faf",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "solarPanel/0/temperature",
        "qos": "0",
        "datatype": "json",
        "broker": "3f89dc9d9f939810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 320,
        "wires": [
            [
                "4cdff04ec8b5bdd8"
            ]
        ]
    },
    {
        "id": "a2ac5c1e2d5012f1",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "solarPanel/0/production",
        "qos": "0",
        "datatype": "json",
        "broker": "3f89dc9d9f939810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 380,
        "wires": [
            [
                "8e7190e57e270b6d"
            ]
        ]
    },
    {
        "id": "df9198c20b6b1c0a",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "solarPanel/0/light",
        "qos": "0",
        "datatype": "json",
        "broker": "3f89dc9d9f939810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 440,
        "wires": [
            [
                "d165cf010c99a05f"
            ]
        ]
    },
    {
        "id": "4cdff04ec8b5bdd8",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "msg temperature",
        "func": "msg.payload = {temperature:msg.payload}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 320,
        "wires": [
            [
                "54e9e0e4651b12b9"
            ]
        ]
    },
    {
        "id": "8e7190e57e270b6d",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "msg production",
        "func": "msg.payload = { production: msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 380,
        "wires": [
            [
                "54e9e0e4651b12b9"
            ]
        ]
    },
    {
        "id": "d165cf010c99a05f",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "msg light",
        "func": "msg.payload = { light: msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 440,
        "wires": [
            [
                "54e9e0e4651b12b9"
            ]
        ]
    },
    {
        "id": "5a45ad35f0c5d14b",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "solarPanel/1/temperature",
        "qos": "0",
        "datatype": "json",
        "broker": "3f89dc9d9f939810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 580,
        "wires": [
            [
                "da254d64d711ca4d"
            ]
        ]
    },
    {
        "id": "a426aa90216e024b",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "solarPanel/1/production",
        "qos": "0",
        "datatype": "json",
        "broker": "3f89dc9d9f939810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 640,
        "wires": [
            [
                "099b1575a2a6d313"
            ]
        ]
    },
    {
        "id": "0a3132f59a3dc9e9",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "solarPanel/1/light",
        "qos": "0",
        "datatype": "json",
        "broker": "3f89dc9d9f939810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 700,
        "wires": [
            [
                "2d99296769240305"
            ]
        ]
    },
    {
        "id": "da254d64d711ca4d",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "msg temperature",
        "func": "msg.payload = {temperature:msg.payload}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 580,
        "wires": [
            [
                "0ab0f2c72e063419"
            ]
        ]
    },
    {
        "id": "099b1575a2a6d313",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "msg production",
        "func": "msg.payload = { production: msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 640,
        "wires": [
            [
                "0ab0f2c72e063419"
            ]
        ]
    },
    {
        "id": "2d99296769240305",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "msg light",
        "func": "msg.payload = { light: msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 700,
        "wires": [
            [
                "0ab0f2c72e063419"
            ]
        ]
    },
    {
        "id": "74397ce40d212aad",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "solarPanel/2/temperature",
        "qos": "0",
        "datatype": "json",
        "broker": "3f89dc9d9f939810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 950,
        "y": 320,
        "wires": [
            [
                "293d02c7fd1294b3"
            ]
        ]
    },
    {
        "id": "95b944db52359f17",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "solarPanel/2/production",
        "qos": "0",
        "datatype": "json",
        "broker": "3f89dc9d9f939810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 940,
        "y": 380,
        "wires": [
            [
                "1d1e4c0e47f43cc7"
            ]
        ]
    },
    {
        "id": "665cc0d3d565beef",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "solarPanel/2/light",
        "qos": "0",
        "datatype": "json",
        "broker": "3f89dc9d9f939810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 920,
        "y": 440,
        "wires": [
            [
                "5e858d441c521825"
            ]
        ]
    },
    {
        "id": "293d02c7fd1294b3",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "msg temperature",
        "func": "msg.payload = {temperature:msg.payload}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 320,
        "wires": [
            [
                "1e64b1d01bc7627a"
            ]
        ]
    },
    {
        "id": "1d1e4c0e47f43cc7",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "msg production",
        "func": "msg.payload = { production: msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 380,
        "wires": [
            [
                "1e64b1d01bc7627a"
            ]
        ]
    },
    {
        "id": "5e858d441c521825",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "msg light",
        "func": "msg.payload = { light: msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 440,
        "wires": [
            [
                "1e64b1d01bc7627a"
            ]
        ]
    },
    {
        "id": "6966aae16bcffffb",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "solarPanel/3/temperature",
        "qos": "0",
        "datatype": "json",
        "broker": "3f89dc9d9f939810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 950,
        "y": 580,
        "wires": [
            [
                "2664d0cd225913af"
            ]
        ]
    },
    {
        "id": "d4a18838246a28d8",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "solarPanel/3/production",
        "qos": "0",
        "datatype": "json",
        "broker": "3f89dc9d9f939810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 940,
        "y": 640,
        "wires": [
            [
                "d470a31dad8eebcf"
            ]
        ]
    },
    {
        "id": "84d6637d685b41a7",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "solarPanel/3/light",
        "qos": "0",
        "datatype": "json",
        "broker": "3f89dc9d9f939810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 920,
        "y": 700,
        "wires": [
            [
                "7db670d12ce7dc69"
            ]
        ]
    },
    {
        "id": "2664d0cd225913af",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "msg temperature",
        "func": "msg.payload = {temperature:msg.payload}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 580,
        "wires": [
            [
                "02a5735863b0e872"
            ]
        ]
    },
    {
        "id": "d470a31dad8eebcf",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "msg production",
        "func": "msg.payload = { production: msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 640,
        "wires": [
            [
                "02a5735863b0e872"
            ]
        ]
    },
    {
        "id": "7db670d12ce7dc69",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "msg light",
        "func": "msg.payload = { light: msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 700,
        "wires": [
            [
                "02a5735863b0e872"
            ]
        ]
    },
    {
        "id": "4086e56df90e9543",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "solarPanel/4/temperature",
        "qos": "0",
        "datatype": "json",
        "broker": "3f89dc9d9f939810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 860,
        "wires": [
            [
                "02aaf7e11040a3e4"
            ]
        ]
    },
    {
        "id": "c62633f5d5363570",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "solarPanel/4/production",
        "qos": "0",
        "datatype": "json",
        "broker": "3f89dc9d9f939810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 920,
        "wires": [
            [
                "07b5150528205118"
            ]
        ]
    },
    {
        "id": "d89bf5db6cc5c6a8",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "solarPanel/4/light",
        "qos": "0",
        "datatype": "json",
        "broker": "3f89dc9d9f939810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 980,
        "wires": [
            [
                "5828d37da4c519e9"
            ]
        ]
    },
    {
        "id": "02aaf7e11040a3e4",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "msg temperature",
        "func": "msg.payload = {temperature:msg.payload}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 860,
        "wires": [
            [
                "c37183b0e163bb9d"
            ]
        ]
    },
    {
        "id": "07b5150528205118",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "msg production",
        "func": "msg.payload = { production: msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 920,
        "wires": [
            [
                "c37183b0e163bb9d"
            ]
        ]
    },
    {
        "id": "5828d37da4c519e9",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "msg light",
        "func": "msg.payload = { light: msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 980,
        "wires": [
            [
                "c37183b0e163bb9d"
            ]
        ]
    },
    {
        "id": "00424d8a1404b06e",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "windTurbine/0/speed",
        "qos": "0",
        "datatype": "json",
        "broker": "3f89dc9d9f939810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 1180,
        "wires": [
            [
                "fa8174e05cd0888b"
            ]
        ]
    },
    {
        "id": "1fd8f53e45e2a981",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "windTurbine/0/production",
        "qos": "0",
        "datatype": "json",
        "broker": "3f89dc9d9f939810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1240,
        "wires": [
            [
                "977f702e72771fce"
            ]
        ]
    },
    {
        "id": "e4c37655c40de7d3",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "windTurbine/0/vibration",
        "qos": "0",
        "datatype": "json",
        "broker": "3f89dc9d9f939810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 1300,
        "wires": [
            [
                "6ffd9d6b0f318d00"
            ]
        ]
    },
    {
        "id": "fa8174e05cd0888b",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "msg speed",
        "func": "msg.payload = {speed:msg.payload}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1180,
        "wires": [
            [
                "8a641df98f254df7"
            ]
        ]
    },
    {
        "id": "977f702e72771fce",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "msg production",
        "func": "msg.payload = { production: msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1240,
        "wires": [
            [
                "8a641df98f254df7"
            ]
        ]
    },
    {
        "id": "6ffd9d6b0f318d00",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "msg vibration",
        "func": "msg.payload = { vibration: msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1300,
        "wires": [
            [
                "8a641df98f254df7"
            ]
        ]
    },
    {
        "id": "9328db2b15709029",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "windTurbine/1/speed",
        "qos": "0",
        "datatype": "json",
        "broker": "3f89dc9d9f939810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 1460,
        "wires": [
            [
                "920fcb913000e4a7"
            ]
        ]
    },
    {
        "id": "b9a7358f77cc9847",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "windTurbine/1/production",
        "qos": "0",
        "datatype": "json",
        "broker": "3f89dc9d9f939810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1520,
        "wires": [
            [
                "b6fad86d3e72fe88"
            ]
        ]
    },
    {
        "id": "794c299f3e72acf3",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "windTurbine/1/vibration",
        "qos": "0",
        "datatype": "json",
        "broker": "3f89dc9d9f939810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 1580,
        "wires": [
            [
                "2857692b1256dd00"
            ]
        ]
    },
    {
        "id": "920fcb913000e4a7",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "msg speed",
        "func": "msg.payload = {speed:msg.payload}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1460,
        "wires": [
            [
                "0a924c856e480b4d"
            ]
        ]
    },
    {
        "id": "b6fad86d3e72fe88",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "msg production",
        "func": "msg.payload = { production: msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1520,
        "wires": [
            [
                "0a924c856e480b4d"
            ]
        ]
    },
    {
        "id": "2857692b1256dd00",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "msg vibration",
        "func": "msg.payload = { vibration: msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1580,
        "wires": [
            [
                "0a924c856e480b4d"
            ]
        ]
    },
    {
        "id": "e0b798345b6ee733",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "windTurbine/2/speed",
        "qos": "0",
        "datatype": "json",
        "broker": "3f89dc9d9f939810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1010,
        "y": 1180,
        "wires": [
            [
                "40b61c52ec2aa50d"
            ]
        ]
    },
    {
        "id": "8c04d40e4a10ca85",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "windTurbine/2/production",
        "qos": "0",
        "datatype": "json",
        "broker": "3f89dc9d9f939810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1030,
        "y": 1240,
        "wires": [
            [
                "524dcd4d5099733d"
            ]
        ]
    },
    {
        "id": "12db2543e646aa68",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "windTurbine/2/vibration",
        "qos": "0",
        "datatype": "json",
        "broker": "3f89dc9d9f939810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1020,
        "y": 1300,
        "wires": [
            [
                "6dbb4fd71f75c782"
            ]
        ]
    },
    {
        "id": "40b61c52ec2aa50d",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "msg speed",
        "func": "msg.payload = {speed:msg.payload}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 1180,
        "wires": [
            [
                "a457a7bf86b597fd"
            ]
        ]
    },
    {
        "id": "524dcd4d5099733d",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "msg production",
        "func": "msg.payload = { production: msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 1240,
        "wires": [
            [
                "a457a7bf86b597fd"
            ]
        ]
    },
    {
        "id": "6dbb4fd71f75c782",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "msg vibration",
        "func": "msg.payload = { vibration: msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 1300,
        "wires": [
            [
                "a457a7bf86b597fd"
            ]
        ]
    },
    {
        "id": "73dc294829769a59",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "info",
        "info": "environmental generated info",
        "x": 570,
        "y": 180,
        "wires": []
    },
    {
        "id": "aa2cd8b5c7a79735",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "solar panel 1",
        "info": "generated info about solar Panel 1",
        "x": 590,
        "y": 700,
        "wires": []
    },
    {
        "id": "fbbfff7fd1cec561",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "solar panel 4",
        "info": "generated info about solar Panel 4",
        "x": 610,
        "y": 980,
        "wires": []
    },
    {
        "id": "34d0f9a787a72f18",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "wind turbine 1",
        "info": "generated info about wind turbine 1",
        "x": 590,
        "y": 1580,
        "wires": []
    },
    {
        "id": "5ce365d8b13613cf",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "solar panel 0",
        "info": "generated info about solar Panel 0",
        "x": 650,
        "y": 460,
        "wires": []
    },
    {
        "id": "249f4c783912c24c",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "wind turbine 2",
        "info": "generated info about wind turbine 2",
        "x": 1490,
        "y": 1300,
        "wires": []
    },
    {
        "id": "0be78a0c22f91c04",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "wind turbine 0",
        "info": "generated info about wind turbine 0",
        "x": 610,
        "y": 1300,
        "wires": []
    },
    {
        "id": "2e737283fe19d161",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "solar panel 3",
        "info": "generated info about solar Panel 3",
        "x": 1410,
        "y": 700,
        "wires": []
    },
    {
        "id": "aee6210ede44f08f",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "solar panel 2",
        "info": "generated info about solar Panel 2",
        "x": 1430,
        "y": 440,
        "wires": []
    },
    {
        "id": "b7f1f0dbe69c9dcd",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "7ae4df28c6b53877",
        "name": "",
        "measurement": "system",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "univaq",
        "bucket": "iot",
        "x": 600,
        "y": 140,
        "wires": []
    },
    {
        "id": "54e9e0e4651b12b9",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "7ae4df28c6b53877",
        "name": "",
        "measurement": "solar_panel_0",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "univaq",
        "bucket": "iot",
        "x": 690,
        "y": 380,
        "wires": []
    },
    {
        "id": "0ab0f2c72e063419",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "7ae4df28c6b53877",
        "name": "",
        "measurement": "solar_panel_1",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "univaq",
        "bucket": "iot",
        "x": 690,
        "y": 640,
        "wires": []
    },
    {
        "id": "1e64b1d01bc7627a",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "7ae4df28c6b53877",
        "name": "",
        "measurement": "solar_panel_2",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "univaq",
        "bucket": "iot",
        "x": 1470,
        "y": 380,
        "wires": []
    },
    {
        "id": "02a5735863b0e872",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "7ae4df28c6b53877",
        "name": "",
        "measurement": "solar_panel_3",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "univaq",
        "bucket": "iot",
        "x": 1470,
        "y": 640,
        "wires": []
    },
    {
        "id": "c37183b0e163bb9d",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "7ae4df28c6b53877",
        "name": "",
        "measurement": "solar_panel_4",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "univaq",
        "bucket": "iot",
        "x": 650,
        "y": 920,
        "wires": []
    },
    {
        "id": "8a641df98f254df7",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "7ae4df28c6b53877",
        "name": "",
        "measurement": "wind_turbine_0",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "univaq",
        "bucket": "iot",
        "x": 670,
        "y": 1240,
        "wires": []
    },
    {
        "id": "0a924c856e480b4d",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "7ae4df28c6b53877",
        "name": "",
        "measurement": "wind_turbine_1",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "univaq",
        "bucket": "iot",
        "x": 670,
        "y": 1520,
        "wires": []
    },
    {
        "id": "a457a7bf86b597fd",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "7ae4df28c6b53877",
        "name": "",
        "measurement": "wind_turbine_2",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "univaq",
        "bucket": "iot",
        "x": 1530,
        "y": 1220,
        "wires": []
    },
    {
        "id": "919e9abefb51544f",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "solarPanel/0/shield",
        "qos": "0",
        "datatype": "json",
        "broker": "3f89dc9d9f939810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 500,
        "wires": [
            [
                "e2e7599cd87f0a64"
            ]
        ]
    },
    {
        "id": "e2e7599cd87f0a64",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "msg shield",
        "func": "msg.payload = { shield: msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 500,
        "wires": [
            [
                "54e9e0e4651b12b9"
            ]
        ]
    },
    {
        "id": "a45b3c4e277b4456",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "msg shield",
        "func": "msg.payload = { shield: msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 760,
        "wires": [
            [
                "0ab0f2c72e063419"
            ]
        ]
    },
    {
        "id": "f0b1622cc8cdc554",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "solarPanel/1/shield",
        "qos": "0",
        "datatype": "json",
        "broker": "3f89dc9d9f939810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 760,
        "wires": [
            [
                "a45b3c4e277b4456"
            ]
        ]
    },
    {
        "id": "123f534a6468ed92",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "msg shield",
        "func": "msg.payload = { shield: msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1040,
        "wires": [
            [
                "c37183b0e163bb9d"
            ]
        ]
    },
    {
        "id": "c9c5dcaabe4991b9",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "solarPanel/4/shield",
        "qos": "0",
        "datatype": "json",
        "broker": "3f89dc9d9f939810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1040,
        "wires": [
            [
                "123f534a6468ed92"
            ]
        ]
    },
    {
        "id": "a4a4fab91850b08f",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "solarPanel/2/shield",
        "qos": "0",
        "datatype": "json",
        "broker": "3f89dc9d9f939810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 930,
        "y": 500,
        "wires": [
            [
                "4d28f020d5cdc64f"
            ]
        ]
    },
    {
        "id": "4d28f020d5cdc64f",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "msg shield",
        "func": "msg.payload = { shield: msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 500,
        "wires": [
            [
                "1e64b1d01bc7627a"
            ]
        ]
    },
    {
        "id": "a11a25bc6e215c41",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "solarPanel/3/shield",
        "qos": "0",
        "datatype": "json",
        "broker": "3f89dc9d9f939810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 930,
        "y": 780,
        "wires": [
            [
                "5cd110b336307144"
            ]
        ]
    },
    {
        "id": "5cd110b336307144",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "msg shield",
        "func": "msg.payload = { shield: msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 780,
        "wires": [
            [
                "02a5735863b0e872"
            ]
        ]
    },
    {
        "id": "0384f65c1d9cadec",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "windTurbine/0/running",
        "qos": "0",
        "datatype": "json",
        "broker": "3f89dc9d9f939810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 1360,
        "wires": [
            [
                "849dd76184ecc0d2"
            ]
        ]
    },
    {
        "id": "849dd76184ecc0d2",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "msg running",
        "func": "msg.payload = { running: msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1360,
        "wires": [
            [
                "8a641df98f254df7"
            ]
        ]
    },
    {
        "id": "c6e1917f7f35e26d",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "windTurbine/1/running",
        "qos": "0",
        "datatype": "json",
        "broker": "3f89dc9d9f939810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 1640,
        "wires": [
            [
                "6d0226c6a11441f5"
            ]
        ]
    },
    {
        "id": "6d0226c6a11441f5",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "msg running",
        "func": "msg.payload = { running: msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1640,
        "wires": [
            [
                "0a924c856e480b4d"
            ]
        ]
    },
    {
        "id": "968f229742127c1a",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "windTurbine/2/running",
        "qos": "0",
        "datatype": "json",
        "broker": "3f89dc9d9f939810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1020,
        "y": 1360,
        "wires": [
            [
                "21b5267e598a4efb"
            ]
        ]
    },
    {
        "id": "21b5267e598a4efb",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "msg running",
        "func": "msg.payload = { running: msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 1360,
        "wires": [
            [
                "a457a7bf86b597fd"
            ]
        ]
    },
    {
        "id": "c2bf2352239ed6c3",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "system/light",
        "qos": "0",
        "datatype": "json",
        "broker": "3f89dc9d9f939810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 240,
        "wires": [
            [
                "65e72d9c0c267683"
            ]
        ]
    },
    {
        "id": "65e72d9c0c267683",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "msg light",
        "func": "msg.payload = { light: msg.payload }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 240,
        "wires": [
            [
                "b7f1f0dbe69c9dcd"
            ]
        ]
    },
    {
        "id": "5bb46c322e3d7d27",
        "type": "mqtt in",
        "z": "5c888227d3c31d09",
        "name": "",
        "topic": "solarPanel/0/shield",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3f89dc9d9f939810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 60,
        "wires": [
            [
                "272b6e2f2f26de77"
            ]
        ]
    },
    {
        "id": "11b068559c69c81a",
        "type": "ui_button",
        "z": "5c888227d3c31d09",
        "name": "",
        "group": "abd1a74c2aa8c24b",
        "order": 0,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "{{text}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "https://www.svgrepo.com/show/288978/shield-defense.svg",
        "payload": "{{value}}",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 510,
        "y": 80,
        "wires": [
            [
                "4a7c4407eb28c873"
            ]
        ]
    },
    {
        "id": "272b6e2f2f26de77",
        "type": "function",
        "z": "5c888227d3c31d09",
        "name": "custom css",
        "func": "const value = msg.payload;\nif (value == 1) {\n    msg.text = \"ON\";\n    msg.background = \"green\";\n} else {\n    msg.text = \"OFF\";\n    msg.background = \"#ca3838\";\n}\nmsg.topic = (parseInt(value) + 1) % 2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 60,
        "wires": [
            [
                "11b068559c69c81a"
            ]
        ]
    },
    {
        "id": "10be2da00a9d1feb",
        "type": "ui_text",
        "z": "5c888227d3c31d09",
        "group": "abd1a74c2aa8c24b",
        "order": 1,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "",
        "format": "Solar Panel 0",
        "layout": "row-left",
        "className": "",
        "x": 510,
        "y": 40,
        "wires": []
    },
    {
        "id": "698370ecb51ea46b",
        "type": "mqtt out",
        "z": "5c888227d3c31d09",
        "name": "",
        "topic": "",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3f89dc9d9f939810",
        "x": 930,
        "y": 580,
        "wires": []
    },
    {
        "id": "4a7c4407eb28c873",
        "type": "function",
        "z": "5c888227d3c31d09",
        "name": "pattern 0",
        "func": "msg.payload = msg.topic;\nmsg.topic = \"solarPanel/0/shield\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 60,
        "wires": [
            [
                "698370ecb51ea46b"
            ]
        ]
    },
    {
        "id": "732fc137491750a0",
        "type": "mqtt in",
        "z": "5c888227d3c31d09",
        "name": "",
        "topic": "solarPanel/1/shield",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3f89dc9d9f939810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 160,
        "wires": [
            [
                "d1dc5395fe96a46a"
            ]
        ]
    },
    {
        "id": "9e5be21b8c958639",
        "type": "ui_button",
        "z": "5c888227d3c31d09",
        "name": "",
        "group": "afd0e4f8b5dd7182",
        "order": 0,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "{{text}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "https://www.svgrepo.com/show/288978/shield-defense.svg",
        "payload": "{{value}}",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 510,
        "y": 180,
        "wires": [
            [
                "fda87bbc74cf045c"
            ]
        ]
    },
    {
        "id": "d1dc5395fe96a46a",
        "type": "function",
        "z": "5c888227d3c31d09",
        "name": "custom css",
        "func": "const value = msg.payload;\nif (value == 1) {\n    msg.text = \"ON\";\n    msg.background = \"#4caf50\";\n} else {\n    msg.text = \"OFF\";\n    msg.background = \"#ca3838\";\n}\nmsg.topic = (parseInt(value) + 1) % 2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 160,
        "wires": [
            [
                "9e5be21b8c958639"
            ]
        ]
    },
    {
        "id": "2c4b7b092274a062",
        "type": "ui_text",
        "z": "5c888227d3c31d09",
        "group": "afd0e4f8b5dd7182",
        "order": 1,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "",
        "format": "Solar Panel 1",
        "layout": "row-left",
        "className": "",
        "x": 510,
        "y": 140,
        "wires": []
    },
    {
        "id": "fda87bbc74cf045c",
        "type": "function",
        "z": "5c888227d3c31d09",
        "name": "pattern 1",
        "func": "msg.payload = msg.topic;\nmsg.topic = \"solarPanel/1/shield\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 160,
        "wires": [
            [
                "698370ecb51ea46b"
            ]
        ]
    },
    {
        "id": "65159aa4db8654f9",
        "type": "function",
        "z": "5c888227d3c31d09",
        "name": "pattern 2",
        "func": "msg.payload = msg.topic;\nmsg.topic = \"solarPanel/2/shield\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 280,
        "wires": [
            [
                "698370ecb51ea46b"
            ]
        ]
    },
    {
        "id": "499eac97bd4d7ad4",
        "type": "ui_button",
        "z": "5c888227d3c31d09",
        "name": "",
        "group": "2e4cd91fbe8123bf",
        "order": 0,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "{{text}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "https://www.svgrepo.com/show/288978/shield-defense.svg",
        "payload": "{{value}}",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 510,
        "y": 300,
        "wires": [
            [
                "65159aa4db8654f9"
            ]
        ]
    },
    {
        "id": "a9c713ab41e06428",
        "type": "ui_text",
        "z": "5c888227d3c31d09",
        "group": "2e4cd91fbe8123bf",
        "order": 1,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "",
        "format": "Solar Panel 2",
        "layout": "row-left",
        "className": "",
        "x": 510,
        "y": 260,
        "wires": []
    },
    {
        "id": "2b422f1b9d9f6e6e",
        "type": "function",
        "z": "5c888227d3c31d09",
        "name": "custom css",
        "func": "const value = msg.payload;\nif (value == 1) {\n    msg.text = \"ON\";\n    msg.background = \"#4caf50\";\n} else {\n    msg.text = \"OFF\";\n    msg.background = \"#ca3838\";\n}\nmsg.topic = (parseInt(value) + 1) % 2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 280,
        "wires": [
            [
                "499eac97bd4d7ad4"
            ]
        ]
    },
    {
        "id": "0c250649a6bb8fe5",
        "type": "mqtt in",
        "z": "5c888227d3c31d09",
        "name": "",
        "topic": "solarPanel/2/shield",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3f89dc9d9f939810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 280,
        "wires": [
            [
                "2b422f1b9d9f6e6e"
            ]
        ]
    },
    {
        "id": "83bf8ce4edf26165",
        "type": "function",
        "z": "5c888227d3c31d09",
        "name": "pattern 3",
        "func": "msg.payload = msg.topic;\nmsg.topic = \"solarPanel/3/shield\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 400,
        "wires": [
            [
                "698370ecb51ea46b"
            ]
        ]
    },
    {
        "id": "9222268c09a1770b",
        "type": "ui_button",
        "z": "5c888227d3c31d09",
        "name": "",
        "group": "1de1620a42f9d003",
        "order": 0,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "{{text}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "https://www.svgrepo.com/show/288978/shield-defense.svg",
        "payload": "{{value}}",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 510,
        "y": 420,
        "wires": [
            [
                "83bf8ce4edf26165"
            ]
        ]
    },
    {
        "id": "430329ce86d9958a",
        "type": "ui_text",
        "z": "5c888227d3c31d09",
        "group": "1de1620a42f9d003",
        "order": 1,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "",
        "format": "Solar Panel 3",
        "layout": "row-left",
        "className": "",
        "x": 510,
        "y": 380,
        "wires": []
    },
    {
        "id": "ef65adabbe42a38e",
        "type": "function",
        "z": "5c888227d3c31d09",
        "name": "custom css",
        "func": "const value = msg.payload;\nif (value == 1) {\n    msg.text = \"ON\";\n    msg.background = \"#4caf50\";\n} else {\n    msg.text = \"OFF\";\n    msg.background = \"#ca3838\";\n}\nmsg.topic = (parseInt(value) + 1) % 2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 400,
        "wires": [
            [
                "9222268c09a1770b"
            ]
        ]
    },
    {
        "id": "cb1a8d7b3c04bef2",
        "type": "mqtt in",
        "z": "5c888227d3c31d09",
        "name": "",
        "topic": "solarPanel/3/shield",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3f89dc9d9f939810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 400,
        "wires": [
            [
                "ef65adabbe42a38e"
            ]
        ]
    },
    {
        "id": "b4b7d3830b2631f1",
        "type": "function",
        "z": "5c888227d3c31d09",
        "name": "pattern 4",
        "func": "msg.payload = msg.topic;\nmsg.topic = \"solarPanel/4/shield\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 500,
        "wires": [
            [
                "698370ecb51ea46b"
            ]
        ]
    },
    {
        "id": "39b0f5f38df6bc66",
        "type": "ui_button",
        "z": "5c888227d3c31d09",
        "name": "",
        "group": "85a7f4cff3441bcf",
        "order": 0,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "{{text}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "https://www.svgrepo.com/show/288978/shield-defense.svg",
        "payload": "{{value}}",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 510,
        "y": 520,
        "wires": [
            [
                "b4b7d3830b2631f1"
            ]
        ]
    },
    {
        "id": "4e1b97a5394669f5",
        "type": "ui_text",
        "z": "5c888227d3c31d09",
        "group": "85a7f4cff3441bcf",
        "order": 1,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "",
        "format": "Solar Panel 4",
        "layout": "row-left",
        "className": "",
        "x": 510,
        "y": 480,
        "wires": []
    },
    {
        "id": "553570bf3c5f7879",
        "type": "function",
        "z": "5c888227d3c31d09",
        "name": "custom css",
        "func": "const value = msg.payload;\nif (value == 1) {\n    msg.text = \"ON\";\n    msg.background = \"#4caf50\";\n} else {\n    msg.text = \"OFF\";\n    msg.background = \"#ca3838\";\n}\nmsg.topic = (parseInt(value) + 1) % 2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 500,
        "wires": [
            [
                "39b0f5f38df6bc66"
            ]
        ]
    },
    {
        "id": "fea021c422b49d87",
        "type": "mqtt in",
        "z": "5c888227d3c31d09",
        "name": "",
        "topic": "solarPanel/4/shield",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3f89dc9d9f939810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 500,
        "wires": [
            [
                "553570bf3c5f7879"
            ]
        ]
    },
    {
        "id": "5a2b028b3047e2a9",
        "type": "function",
        "z": "5c888227d3c31d09",
        "name": "pattern 0",
        "func": "msg.payload = msg.topic;\nmsg.topic = \"windTurbine/0/running\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 660,
        "wires": [
            [
                "698370ecb51ea46b"
            ]
        ]
    },
    {
        "id": "04a046b4bb90e93b",
        "type": "ui_button",
        "z": "5c888227d3c31d09",
        "name": "",
        "group": "402d722259126c8b",
        "order": 0,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "{{text}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "https://www.svgrepo.com/show/274806/power-button-power.svg",
        "payload": "{{value}}",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 510,
        "y": 680,
        "wires": [
            [
                "5a2b028b3047e2a9"
            ]
        ]
    },
    {
        "id": "87bf81339019b70d",
        "type": "ui_text",
        "z": "5c888227d3c31d09",
        "group": "402d722259126c8b",
        "order": 1,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "",
        "format": "Wind Turbine 0",
        "layout": "row-left",
        "className": "",
        "x": 510,
        "y": 640,
        "wires": []
    },
    {
        "id": "14bb99a18908a201",
        "type": "function",
        "z": "5c888227d3c31d09",
        "name": "custom css",
        "func": "const value = msg.payload;\nif (value == 1) {\n    msg.text = \"ON\";\n    msg.background = \"#4caf50\";\n} else {\n    msg.text = \"OFF\";\n    msg.background = \"#ca3838\";\n}\nmsg.topic = (parseInt(value) + 1) % 2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 660,
        "wires": [
            [
                "04a046b4bb90e93b"
            ]
        ]
    },
    {
        "id": "148ea9be50881eb4",
        "type": "mqtt in",
        "z": "5c888227d3c31d09",
        "name": "",
        "topic": "windTurbine/0/running",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3f89dc9d9f939810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 660,
        "wires": [
            [
                "14bb99a18908a201"
            ]
        ]
    },
    {
        "id": "f1df95574867b1aa",
        "type": "function",
        "z": "5c888227d3c31d09",
        "name": "pattern 1",
        "func": "msg.payload = msg.topic;\nmsg.topic = \"windTurbine/1/running\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 780,
        "wires": [
            [
                "698370ecb51ea46b"
            ]
        ]
    },
    {
        "id": "5677ef0755455c48",
        "type": "ui_button",
        "z": "5c888227d3c31d09",
        "name": "",
        "group": "1a130c9ffe360637",
        "order": 0,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "{{text}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "https://www.svgrepo.com/show/274806/power-button-power.svg",
        "payload": "{{value}}",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 510,
        "y": 800,
        "wires": [
            [
                "f1df95574867b1aa"
            ]
        ]
    },
    {
        "id": "20ade4f01340dcad",
        "type": "ui_text",
        "z": "5c888227d3c31d09",
        "group": "1a130c9ffe360637",
        "order": 1,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "",
        "format": "Wind Turbine 1",
        "layout": "row-left",
        "className": "",
        "x": 510,
        "y": 760,
        "wires": []
    },
    {
        "id": "77bcb0ef0a77036c",
        "type": "function",
        "z": "5c888227d3c31d09",
        "name": "custom css",
        "func": "const value = msg.payload;\nif (value == 1) {\n    msg.text = \"ON\";\n    msg.background = \"#4caf50\";\n} else {\n    msg.text = \"OFF\";\n    msg.background = \"#ca3838\";\n}\nmsg.topic = (parseInt(value) + 1) % 2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 780,
        "wires": [
            [
                "5677ef0755455c48"
            ]
        ]
    },
    {
        "id": "1f60ed8c2dfe61e6",
        "type": "mqtt in",
        "z": "5c888227d3c31d09",
        "name": "",
        "topic": "windTurbine/1/running",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3f89dc9d9f939810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 780,
        "wires": [
            [
                "77bcb0ef0a77036c"
            ]
        ]
    },
    {
        "id": "57a891b9cb293e51",
        "type": "function",
        "z": "5c888227d3c31d09",
        "name": "pattern 2",
        "func": "msg.payload = msg.topic;\nmsg.topic = \"windTurbine/2/running\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 920,
        "wires": [
            [
                "698370ecb51ea46b"
            ]
        ]
    },
    {
        "id": "2c492b1e43910864",
        "type": "ui_button",
        "z": "5c888227d3c31d09",
        "name": "",
        "group": "a36a0e9b6fbc9132",
        "order": 0,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "{{text}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "https://www.svgrepo.com/show/274806/power-button-power.svg",
        "payload": "{{value}}",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 510,
        "y": 940,
        "wires": [
            [
                "57a891b9cb293e51"
            ]
        ]
    },
    {
        "id": "356849fb8a1d7d8a",
        "type": "ui_text",
        "z": "5c888227d3c31d09",
        "group": "a36a0e9b6fbc9132",
        "order": 1,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "",
        "format": "Wind Turbine 2",
        "layout": "row-left",
        "className": "",
        "x": 510,
        "y": 900,
        "wires": []
    },
    {
        "id": "4ccde2df7b84c0dd",
        "type": "function",
        "z": "5c888227d3c31d09",
        "name": "custom css",
        "func": "const value = msg.payload;\nif (value == 1) {\n    msg.text = \"ON\";\n    msg.background = \"#4caf50\";\n} else {\n    msg.text = \"OFF\";\n    msg.background = \"#ca3838\";\n}\nmsg.topic = (parseInt(value) + 1) % 2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 920,
        "wires": [
            [
                "2c492b1e43910864"
            ]
        ]
    },
    {
        "id": "cf955a574162ac9e",
        "type": "mqtt in",
        "z": "5c888227d3c31d09",
        "name": "",
        "topic": "windTurbine/2/running",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3f89dc9d9f939810",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 920,
        "wires": [
            [
                "4ccde2df7b84c0dd"
            ]
        ]
    },
    {
        "id": "2a61ab7d3eaaa0eb",
        "type": "http request",
        "z": "9b141d136e8f2a6b",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 390,
        "y": 100,
        "wires": [
            [
                "7606b59284554a52"
            ]
        ]
    },
    {
        "id": "7a114d05fac7639c",
        "type": "ui_form",
        "z": "9b141d136e8f2a6b",
        "name": "",
        "label": "",
        "group": "389563e852d78106",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Light",
                "value": "light",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "light": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 70,
        "y": 100,
        "wires": [
            [
                "cbf0c933ca424afc"
            ]
        ]
    },
    {
        "id": "cbf0c933ca424afc",
        "type": "function",
        "z": "9b141d136e8f2a6b",
        "name": "getLight",
        "func": "const light = msg.payload.light;\nmsg.url = 'http://172.20.0.105:5000/predictions/solar/' + light;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 100,
        "wires": [
            [
                "2a61ab7d3eaaa0eb"
            ]
        ]
    },
    {
        "id": "7606b59284554a52",
        "type": "function",
        "z": "9b141d136e8f2a6b",
        "name": "parseInt",
        "func": "let value = parseInt(msg.payload);\nif(value > 100) value = 100;\nif(value < 0) value = 0;\nmsg.payload = value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 100,
        "wires": [
            [
                "5d83f5d6955570cb"
            ]
        ]
    },
    {
        "id": "5d83f5d6955570cb",
        "type": "ui_gauge",
        "z": "9b141d136e8f2a6b",
        "name": "",
        "group": "389563e852d78106",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Production",
        "label": "W",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#f0b400",
            "#4caf50"
        ],
        "seg1": "50",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 100,
        "wires": []
    },
    {
        "id": "bbae82a72a2ff113",
        "type": "ui_template",
        "z": "d41a571824d79944",
        "group": "cd00130e58b07552",
        "name": "",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<iframe src=\"http://localhost:3000/d-solo/OHEMwUhVk/solar-panel?orgId=1&refresh=30s&theme=light&panelId=2\" \nwidth=\"600\" height=\"300\" frameborder=\"0\"></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 120,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "dfe85593dfa59355",
        "type": "ui_template",
        "z": "d41a571824d79944",
        "group": "0712d077dea5c3c5",
        "name": "",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<iframe src=\"http://localhost:3000/d-solo/OHEMwUhVk/solar-panel?orgId=1&refresh=30s&theme=light&panelId=4\"\nwidth=\"600\" height=\"300\" frameborder=\"0\"></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 260,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "a0d2018bc5712b1a",
        "type": "ui_template",
        "z": "d41a571824d79944",
        "group": "cd00130e58b07552",
        "name": "",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<iframe src=\"http://localhost:3000/d-solo/OHEMwUhVk/solar-panel?orgId=1&refresh=30s&theme=light&panelId=6\"\nwidth=\"600\" height=\"300\" frameborder=\"0\"></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 120,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "b6990f81115af022",
        "type": "ui_template",
        "z": "d41a571824d79944",
        "group": "eb4aca13b11d0bb0",
        "name": "",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<iframe src=\"http://localhost:3000/d-solo/XIlFwUhVz/wind-turbine?orgId=1&refresh=30s&theme=light&panelId=2\"\nwidth=\"600\" height=\"300\" frameborder=\"0\"></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 460,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "f265ca1ea8921636",
        "type": "ui_template",
        "z": "d41a571824d79944",
        "group": "58dbf6a3f5c0d52f",
        "name": "",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<iframe src=\"http://localhost:3000/d-solo/XIlFwUhVz/wind-turbine?orgId=1&refresh=30s&theme=light&panelId=4\"\nwidth=\"600\" height=\"300\" frameborder=\"0\"></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 600,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "5a23066935300ad5",
        "type": "ui_template",
        "z": "d41a571824d79944",
        "group": "eb4aca13b11d0bb0",
        "name": "",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<iframe src=\"http://localhost:3000/d-solo/XIlFwUhVz/wind-turbine?orgId=1&refresh=30s&theme=light&panelId=6\"\nwidth=\"600\" height=\"300\" frameborder=\"0\"></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 460,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "508a9f59955d45ba",
        "type": "ui_template",
        "z": "d41a571824d79944",
        "group": "bfcf8bedfc1576f5",
        "name": "",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<iframe src=\"http://localhost:3000/d-solo/WglTw82Vz/system?orgId=1&refresh=30s&theme=light&panelId=6\"\nwidth=\"600\" height=\"300\" frameborder=\"0\"></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 120,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "62feb19b1d29b75d",
        "type": "ui_template",
        "z": "d41a571824d79944",
        "group": "1f74b06d4dff1469",
        "name": "",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<iframe src=\"http://localhost:3000/d-solo/WglTw82Vz/system?orgId=1&refresh=30s&theme=light&panelId=2\"\nwidth=\"600\" height=\"300\" frameborder=\"0\"></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 260,
        "y": 200,
        "wires": [
            []
        ]
    }
]